@import "../../style//style.scss";

.cart {
  max-width: 21rem;
  position: absolute;
  top: 4.7rem;
  right: 2rem;
  z-index: 1000;
  background: $colorWhite;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 1.25rem;
    color: $colorGray2;
  }

  .item {
    display: flex;
    gap: 1.25rem;

    img {
      width: 5rem;
      max-height: 6.25rem;
      object-fit: cover;
      border-radius: 0.32rem;
    }

    .detail {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      h1 {
        font-size: 1.125rem;
      }

      p {
        font-size: 0.875rem;
        font-weight: 300;
      }

      .price {
        color: $colorBlue;
      }
    }

    .delete {
      color: $colorGray2;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.125rem;
  }

  button {
    color: $colorWhite;
    background: $colorBlue;
    padding: 0.625rem;
  }

  .reset {
    color: $colorGray;
    font-size: 0.75rem;
    cursor: pointer;
    text-align: end;
  }
}
