$colorText: black;
$colorWhite: #fff;
$colorGray: rgb(186, 186, 186);
$colorGray2: #555;
$colorlightGray: rgb(248, 245, 245);
$ColorYell: RGB(254, 216, 1);
$colorBg: #fff;
$colorBorder: rgb(174, 172, 172);
