$colorText: black;
$colorWhite: #fff;
$colorGraySoft: rgb(232, 230, 230);
$colorGray: rgb(186, 186, 186);
$colorGray2: #555;
$colorlightGray: rgb(248, 245, 245);
$ColorYell: RGB(254, 216, 1);
$colorBg: #fff;
$colorBorder: rgb(174, 172, 172);
$colorRed: rgb(220, 39, 39);
$colorBlue: #2879fe;
