@import "../../style/style.scss";
.categories {
  display: flex;
  height: 80vh;
  gap: 0.8rem;
  margin: 0.625rem;

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  .col-lg {
    flex: 2;
  }
  .row {
    height: 100%;
    flex: 1;
    display: flex;
    gap: 0.625rem;
    position: relative;
    overflow: hidden;
    place-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $colorWhite;
      min-width: 6.25rem;
      width: fit-content;
      padding: 0.4rem;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
  }
}
